h1 {
    color: blue;
}





.container{
   
    display: grid;
    /*grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    /*grid: repeat(2,1fr);*/
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 4px;
    column-gap: 16px;
}
.container>*{
    
    background-color: aqua;
 
}
.content1{
    grid-column-start: 1;
    grid-column-end: 3;
}